{{!-- <div class=".add-new">
    <p>Artist: {{input value=artist}}</p>
    <p>Name: {{input value=name}}</p>
    <p>Genre: {{input value=genre}}</p>
    <p>Cover: {{input value=cover}}</p>
    <p>Year of release: {{input value=yearOfRelease}}</p>
    <p>Link: {{input value=link}}</p>
    <p><input type="button" value="save" {{action "save"}}></p>
</div> --}}