{{!-- {{add-library}} --}}
<div class=".add-new">
    <p>Artist: {{input value=model.artist}}</p>
    <p>Name: {{input value=model.name}}</p>
    <p>Genre: {{input value=model.genre}}</p>
    <p>Cover: {{input value=model.cover}}</p>
    <p>Year of release: {{input value=model.yearOfRelease}}</p>
    <p>Link: {{input value=model.link}}</p>
    <p><input type="button" value="save" {{action "add"}}></p>
</div>